.base {
    display: flex;
    font-family: Roboto, Arial;
    background-color: rgb(8, 8, 56);
    justify-content: center;
    height: 100vh;
}

.profile-container {
    background-color: rgb(8, 8, 56);
    width: 600px;
    border-radius: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
}
